.news-slider {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  
}

.slider-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: slideLoop 60s linear infinite; 
}

.news-card {
  position: relative;
  min-width: 300px;
  border-radius: 12px;
  overflow: hidden;
}

.news-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}


.card-text {
    display:flex;
  position: absolute;
  bottom: 15px; 
  left: 15px;
  right: 15px;
  color: #00a000; 
  background: rgba(0,0,0,0.4);
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
}


@keyframes slideLoop {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
