.card-container {
    display: flex;    
    gap: 30px;             
    justify-content: center;
    padding: 20px;
}

.card-container .card-grid {
    width: 300px;          
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-container .card-grid img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-container .card-grid #description {
    padding: 15px;
}

.card-container .card-grid h4 {
    margin-bottom: 8px;
    color: #333;
}

.card-container .card-grid p {
    color: #666;
    font-size: 14px;
}
.slider-wrapper {
    position: relative;
    width: 100%;
    padding: 20px 0;
}

.card-slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
}

.card-slider::-webkit-scrollbar {
    display: none;
}

.card-grid {
    min-width: 300px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-grid img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: green;
    border: none;
    color: white;
    font-size: 30px;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.slide-btn.left {
    left: 10px;
}

.slide-btn.right {
    right: 10px;
}
.first-cards{
    background-color: #333;
}
.first-cards .card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}