.news {
  padding: 60px 0;
  background: #2e8b57;
}

.news h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  color: #fff;
}

.news-slider {
  overflow: hidden;
  width: 100%;
}

.slider-track {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: slideLoop 15s linear infinite; /* automatic sliding */
}

.news-item {
  display: flex;
  align-items: center;
  min-width: 400px;
  flex-shrink: 0;
  gap: 15px;
}

.text-block {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.text-block p {
  margin: 0 0 8px 0;
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-item img {
  flex: 1;
  max-width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 6px;
}

.read-more {
  padding: 4px 6px;
  font-size: 12px;
  width: 80px;
  text-align: center;
  background: #fff;
  color: #2e8b57;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: background 0.3s, color 0.3s;
}

.read-more:hover {
  background: #e0e0e0;
  color: #2e8b57;
}

/* Buttons for manual sliding */
.news-slider-wrapper {
  position: relative;
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.7);
  border: none;
  font-size: 24px;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  color:  #2e8b57;
}

.slide-btn.left { left: 0; }
.slide-btn.right { right: 0; }

.slide-btn:hover { background: #fff; }

@keyframes slideLoop {
  0% { transform: translateX(0); }
  100% { transform: translateX(-20%); } 
}
.contact-item{
  padding:90px;
}
.contact-block{
  text-align:center;
  color: #2e8b57;
}

.icons{
  background:#fff;
  margin:50px;
}
.icons i{
  background: #2e8b57;
  color:white;
  border-radius:90%;
  border:1px solid #2e8b57;
  background-size: cover;
  padding:10px;;
}

.subscribe-box{
  display:flex;
   align-items:center;
  color: #2e8b57;
  margin-left:35%;
}
.subscribe-box h2{
  margin-left:35%;
}
 .subscribe-box input[type="text"] {
  padding:12px 15px;
  font-size:15px;
  border:2px solid #2e8b57;
  border-radius:25px;
  outline:none;
  width:260px;
  transition:0.3s ease;
  
 }
 .subscribe-box input[type="text"]:focus {
  border-color: #2e8b57;
}


.subscribe-box .btn {
  padding: 12px 20px;
  background:  #2e8b57;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 25px;  
  cursor: pointer;
  transition: 0.3s ease;
}
.subscribe-box .btn:hover {
  background: #2e8b57;
}
 .more-info{
  margin-left:35%;
  color:#2e8b57;
 }